/* 헤더파츠 */

.header {
  /* float: left; */
  background-color: black;
  color: #ffffff;
  height: 60px;
}

#main_icon {
  float: left;
  color: red;
  font-size: 25px;
  padding-top: 20px;
}
#name {
  /* display: inline-block; */
  float: left;
  font-size: 25px;
}
#sb {
  float: right;
  font-size: 20px;
  padding-top: 22.5px;
}
#mb {
  float: right;
  font-size: 20px;
  padding-top: 22.5px;
  margin-left: 20px;
  margin-right: 15px;
}

/* 헤더파츠 끝*/

/* 비디오 파츠 */

.video {
  display: block;
  /* text-align: center; */
  background-color: black;
}
#pic {
  /* text-align: center; */
}

/* 비디오 파츠 끝*/

/* 인트로 파츠 */

.intro {
  height: 100%;
}
#blueletter {
  padding-top: 10px;
  color: blue;
  font-size: 12px;
  height: 5px;
}
/* #space {
                    margin-top: -30px;
                  } */
#blackletter {
  font-size: 12px;
}
#tag {
}

/* 인트로 파츠 끝*/

/*아이콘 파츠*/
.icon {
  color: grey;
  text-align: center;
}
.icon_item {
  color: grey;
  /* float: left; */
  display: inline-block;
  width: 70px;
}

.icon p {
  font-size: 9px;
  margin-top: -3px;
}
.icon button {
  border: none;
  background: none;
}

/* .icon_item.thumbup {
}
.icon_item.thumbdown {
}
.icon_item.share {
}
.icon_item.plus {
}
.icon_item.flag {
} */

/*아이콘 파츠*/

/* 작성자 파츠 */
.author {
  height: 50px;
}

/* 작성자 파츠 */
.list {
  height: 50px;
}

div {
  border: 1px solid pink;
}
